[Desktop Entry]
Version=5.5.3
Type=Application
Name=Helden-Software
Comment=Charactergenerator und Manager für DSA4.1
Icon=de.helden.software
Categories=Game;RolePlaying;
Keywords=DSA;TDE;RPG;character;generator;pen and paper;roleplaying;
StartupNotify=true
Terminal=false
MimeType=application/x-helden-character;
